{% extends "layout.html" %}
{% block title %}
List All Applicants
{% endblock %}
{% block content %}
        <table border="1px">
            <thead>
                <td><strong>Applicant ID</strong></td>
                <td><strong>Name</strong></td>
                <td><strong>Email</strong></td>
                <td><strong>Phone_Number</strong></td>
                <td><strong>job_title</strong></td>
                <td></td>
                <td></td>
            </thead>

            {% for row in rows %}
            <tr>
                <td>{{ row["rowid"] }}</td>
                <td>{{ row["name"] }}</td>
                <td> {{ row["email"]}}</td>
                <td>{{ row["phone_number"] }}</td>
                <td>{{ row["job_title"] }}</td>
                <td><form action="{{url_for('edit')}}" method="POST"><input type="hidden" name="id" value="{{ row['rowid'] }}"><input type="submit" value="Edit"></form> </td>
                <td><form onsubmit="return confirm('Are you sure you want to DELETE this Applicant from the Database?');" action="{{url_for('delete')}}" method="POST"><input type="hidden" name="id" value="{{ row['rowid'] }}"><input type="submit" value="Delete"></form> </td>
            </tr>
            {% endfor %}
        </table>
{% endblock %}